/*
 * Globals
 */

.psionic-bg-dark {
    background-color: #0d1117 !important;
}

.psionic-text-white {
    color: #c9d1d9 !important;
}

.psionic-bg {
    border-radius: 50%;
    background-color: #c9d1d9 !important;
}

.psionic-sources p a {
    text-decoration: none;
    color: #c9d1d9;
}
.psionic-sources p a:hover {
    color: #7c00ff;
    transition: all 0.3s;
}

.force-disable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #7c00ff;
    text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: #7c00ff;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #7c00ff;
}

/* Style all font awesome icons */
.fa {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    transition: all 0.3s;
    color: #7c00ff;
}

/* Set a specific color for each brand */
.fa-github {
    color: #c9d1d9;
}

.fa-telegram {
    color: #c9d1d9;
}
